.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
}

.input {
  width: 70%;
  height: 30px;
  width: 500px;
  padding: 5px;
}

.btn {
  width: 30%;
  width: 180px;
  background-color: #d200fc;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  width: 200px;
  transition: 0.5s;
}

.paragraph {
  font-size: 22px;
}

.image {
  margin-top: 15px;
  width: 450px;
  height: 380px;
  border-radius: 5px;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

#api {
  margin-top: 5px;
  color: white;
  display: none;
}
