.logo {
  border: 1px solid black;
  height: 150px;
  width: 160px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 115%);
}

.logoImage {
  height: 110px;
  width: 110px;
}
